includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - includes/
        - bulk-plugin-installer.php
    excludePaths:
        analyseAndScan:
            - vendor/
            - tests/
            - node_modules (?)

